<!doctype html>
<html>
<head>
	<%- include('./partials/head')  %> 
</head>
<body>

<div class="wrapper">
	<div class="jumbotron">
		<h1 class="display-4">Send to Kobo/Kindle</h1>
	</div>

	<h1 class="center">Send to Kobo/Kindle test</h1>

	<div class="center">
		<div style="font-size: 1.4em;">Unique key:</div>
		<div id="key">----</div>
		<br/>
		<button id="keygen">Generate new key</button>
	</div>
	<br/>
	<hr/>
	<br/>
	<div class="center" id="downloads">
		<a id="downloadlink"></a>
	</div>
</div>

<script src="./js/download.js"></script>
</body>
</html>
