<!doctype html>
<html>
<head>
	<title>Send to Kobo/Kindle</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>
<body>

<div class="wrapper">
	<div class="jumbotron">
		<h1 class="display-4">Send to Kobo/Kindle</h1>
	</div>

	<h1 class="center">Send to Kobo/Kindle test</h1>

	<div class="center">
		<div style="font-size: 1.4em;">Unique key:</div>
		<div id="key">----</div>
		<br/>
		<button id="keygen">Generate new key</button>
	</div>
	<br/>
	<hr/>
	<br/>
	<div class="center" id="downloads">
		<a id="downloadlink"></a>
	</div>
</div>

<script src="./js/download.js"></script>
</body>
</html>
