<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>404</title>
</head>
<body>
    <div class="container">
        <h1>Oops something went wrong</h1>
        <div class="tenor-gif-embed mt-5" data-postid="22578374" data-share-method="host" data-aspect-ratio="1.33333" data-width="100%"><a href="https://tenor.com/view/monkey-wtf-monkey-gasp-monkey-gif-22578374">Monkey Wtf Monkey Gasp GIF</a>from <a href="https://tenor.com/search/monkey+wtf-gifs">Monkey Wtf GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

        <a href="/" class="btn btn-primary mt-5">Homepage</a>
    </div>
</body>
</html>