<!doctype html>
<html>

<head>
	<%- include('./partials/head') %>
	<script src="./js/upload.js" defer></script>
</head>

<body>
	<div class="container">
		<header class="jumbotron mt-5">
			<h1 class="display-4">Send to Kobo/Kindle</h1>
		</header>

		<main>
			<form action="/upload" method="post" enctype="multipart/form-data">
				<div class="input-group input-group-lg">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-lg">Unique key</span>
					</div>
					<input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm"
						name="key" id="keyinput" autocomplete="off" pattern="...." placeholder="----" required
						style="text-transform: uppercase;" maxlength=4>
				</div>

				<div class="input-group mt-3">
					<div class="custom-file">
						<input type="file" class="custom-file-input" name="file" id="fileinput"
							accept=".epub,.mobi,.pdf,.cbz,.cbr,application/epub+zip,application/x-mobipocket-ebook,application/pdf,application/vnd.comicbook+zip,application/vnd.comicbook-rar"
							required>
						<label class="custom-file-label" id="fileInputLabel" for="fileinput">Choose file</label>
					</div>
				</div>
				<small id="fileinfo" class="form-text text-muted">
					Your password must be 8-20 characters long, contain letters and numbers, and must not contain
					spaces, special characters, or emoji.
				</small>

				<div class="form-check mt-3">
					<input class="form-check-input" type="checkbox" name="kepubify" id="kepubify" checked>
					<label class="form-check-label" for="kepubify">
						Kepubify
					</label>
				</div>

				<input type="submit" class="btn btn-primary mt-4" value="Upload and send">

				<div class="mt-3">
					<div id="uploadstatus" class="alert alert-danger" role="alert"></div>
				</div>
			</form>
			<hr>
			<section class="mt-5">
				<p>
					Go to this this page on your Kobo/Kindle ereader and you see a unique key. Enter it in this form and
					upload an ebook and it will appear as a download link on the ereader.
					<br> <br>
					If you send an EPUB file to to a Kindle it will be converted to MOBI with KindleGen. If you send a
					MOBI file to a Kindle it will be sent unprocessed. If you send an EPUB file and tick the Kepubify
					checkbox, it will be converted into a Kobo EPUB using Kepubify. If you send a MOBI file to a Kobo,
					it will not be converted.
					<br> <br>
					Your ebook will be stored on the server as long as your Kobo/Kindle is viewing the unique key and is
					connected to wifi. It will be deleted irrevocably when the key expires about 30 seconds after you
					close the browser, generate a new key or disable wifi on your ereader.
					<br> <br>
					By using this tool you agree that the ebook you upload is processed on the server and stored for a
					short time.
				</p>

				<hr>

				<p>
					Created by <a href="https://github.com/dylanwe" target="_blank">Dylan</a> and djazz. Powered by <a
						href="https://koajs.com/" target="_blank">Koa</a>, <a href="https://pgaskin.net/kepubify/"
						target="_blank">Kepubify</a> and <a
						href="https://www.amazon.com/gp/feature.html?ie=UTF8&docId=1000765211"
						target="_blank">KindleGen</a><br />Source code on <a
						href="https://github.com/dylanwe/send-to-reader" target="_blank">Github</a>
				</p>
			</section>
		</main>
	</div>
</body>

</html>